# Supabase Configuration
SUPABASE_PROJECT_ID="ioinvtayrcmkelnyauac"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_KiU40PqyKYGJjGUgKvqLoA_7Jv-V1ye"
SUPABASE_URL="https://ioinvtayrcmkelnyauac.supabase.co"
VITE_SUPABASE_PROJECT_ID="ioinvtayrcmkelnyauac"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_KiU40PqyKYGJjGUgKvqLoA_7Jv-V1ye"
VITE_SUPABASE_URL="https://ioinvtayrcmkelnyauac.supabase.co"

# IoT Greenhouse InfluxDB Cloud v2 Configuration
INFLUX_URL="https://us-east-1-1.aws.cloud2.influxdata.com"
INFLUX_ORG="c24b7db57e26733b"
INFLUX_BUCKET="agrivitro-serre"
INFLUX_TOKEN="2-qw3pUFmgsWIUFEu5qd02PoGszAK-dz8qrzrESvrQ6QFrtsBbkcfcCY5wAZXyblCkYszFzQB9jV2XfQhZf-PA=="
DASHBOARD_PASS_HASH="60eb0d044d04f931ed81f9ece9b9488aedeeca00b9c0d8f6e638d2c4f3a67694"

# Deployment Target (Optional: "vercel" or "netlify" or "cloudflare")
# NITRO_PRESET="vercel"
